/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .background {
    background-color: #deebf6;
    background-repeat: no-repeat;
 }

 .button {
 	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
 	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
 	box-shadow:inset 0px 1px 0px 0px #ffffff;
 	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
 	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
 	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
 	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
 	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
 	background-color:#ededed;
 	-moz-border-radius:6px;
 	-webkit-border-radius:6px;
 	border-radius:6px;
 	border:1px solid #dcdcdc;
 	display:inline-block;
 	cursor:pointer;
 	color:#000000;
 	font-family:Arial;
 	font-size:15px;
 	font-weight:bold;
 	padding:6px 24px;
 	text-decoration:none;
 	text-shadow:0px 1px 0px #ffffff;
 }

 .button:hover {
 	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
 	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
 	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
 	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
 	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
 	background-color:#dfdfdf;
 }

 .button:active {
 	position:relative;
 	top:1px;
 }

 .box {
   opacity: 1000;
 }

 .comment {
    border: 1px solid;
    background-color: #f0f0f0;
    border-radius: 0.8em;
    color: #50270C;
    padding: 2em;
    margin: 1em;
  }

.form {
  background-color: #a9cbca;
  border-radius: 0.8em;
  color: #000000;
  padding: 1em;
  margin: 1em;
  max-width: 667px;
}

h2, .text, .field, .comment {
  font-family: "Luminari";
  color: #50270C;
}

.info {
  background-color: #a9cbca;
  border-radius: 0.8em;
  color: #000000;
  padding: 1em;
  margin: 1em;
}

.link {
  color: #563435;
  font-size: 20px;
}

.region-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.region a, .region a:visited {
 fill: #608229;
}

.region a:hover {
 fill: #344E3B;
}

.top-bar, .top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover {
  font-family: "Luminari";
  background-color: #50270C;
}
