/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.background{
  background-color: white;
  background-image: url("Flag_of_Scotland.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.form {
  background-color: #F7DEEB;
  border-radius: 0.8em;
  color: #000000;
  padding: 1em;
  margin: 1em;
  max-width: 667px;
}

.region-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.region a, .region a:visited {
 fill: #2A724E;
}

.region a:hover {
 fill: #01002E;
}
