/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
<<<<<<< HEAD
 .title {
   color: white;
 }

 .box {
   opacity: 1000;
 }

 .background {
   background-color: #deebf6;
   background-image: url('Test.jpg') ;
   background-repeat: no-repeat;
   background-size: 175% 175%;
 }

=======
.background{
  background-color: white;
  background-image: url("Flag_of_Scotland.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
>>>>>>> master
.form {
  background-color: #f7deeb;
  border-radius: 0.8em;
  color: #000000;
  padding: 1em;
  margin: 1em;
  max-width: 667px;
}

.region-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.region a, .region a:visited {
 fill: #def6e9;
}

.region a:hover {
 fill: #e9def6;
}
